@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

:root {
  --primary-color: #89f0b1;
  --secondary-color: #a9f4c6;
  --text-color: #042411;
  --background-color: #f1fdf6;
  --accent-color: #17ba56;
  --shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon {
  margin: 0 0 0 0.5rem;
}

.fill__primary {
  fill: var(--accent-color);
}

.flex {
  display: flex;
}

.no__underline {
  text-decoration: none;
}

.text__center {
  text-align: center;
  font-weight: 400;
}
