.product {
  min-height: 480px;
  width: 300px;
  box-shadow: var(--shadow);
}

.product__img {
  height: 300px;
  width: 100%;
}

.product__body {
  padding: 1rem;
  flex-direction: column;
  gap: 0.5rem;
}

.product__header {
  justify-content: space-between;
  align-items: center;
}

.product__header h3 {
  text-wrap: wrap;
}

.product__header h3:hover {
  text-decoration: underline;
}

.product__wishlist-btn {
  background: none;
  border: none;
}

.product__cart-btn {
  margin-top: 0.5rem;
  padding: 0.8rem;
  background-color: var(--primary-color);
  border: none;
  box-shadow: var(--shadow-alt);
}

.product__cart-btn--alt {
  margin-top: 0.5rem;
  padding: 0.8rem;
  background-color: var(--background-color);
  border: none;
  box-shadow: var(--shadow-alt);
  color: var(--accent-color);
  font-weight: 600;
}

.product__body small {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
