.item__container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item__body {
  display: flex;
  box-shadow: var(--shadow);
  padding: 1rem;
  width: 800px;
}

.item__img {
  width: 400px;
  aspect-ratio: 1;
  margin-right: 2rem;
}

.item__details {
  display: flex;
  flex-direction: column;
}

.item__heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item__heading button {
  margin-left: 2rem;
}

.item__details h3 {
  margin-top: 1rem;
}

.item__details p {
  margin-top: 0.5rem;
}

.item__description {
  margin-bottom: 2rem;
}

/* .item__details .product__cart-btn--alt,
.product__cart-btn {
  margin-top: 2rem;
} */

@media (max-width: 768px) {
  .item__body {
    width: 700px;
  }
  .item__img {
    width: 300px;
  }
}

@media (max-width: 425px) {
  .item__container {
    margin-top: 2rem;
  }
  .item__body {
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: none;
    padding: 2rem;
    margin-bottom: 2rem;
  }
  .item__img {
    width: 340px;
    margin-bottom: 2rem;
  }
}
