.profile__container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile__body {
  margin-top: 2rem;
  box-shadow: var(--shadow);
  padding: 2rem;
  min-width: 500px;
}

.profile__body p {
  margin-bottom: 1rem;
}

@media (max-width: 425px) {
  .profile__body {
    min-width: 300px;
  }
}
