.products__section {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 360px auto;
}

.products__sidebar-container {
  margin-left: 1rem;
  top: 12vh;
  position: sticky;
}

.products__content {
  margin-top: 2rem;
}

.products__body {
  padding: 0 2rem;
}

.products__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__heading-body {
  display: flex;
}

#show-sidebar {
  display: none;
}

.products__heading h2 {
  font-weight: 400;
}

.search__bar {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
  height: 35px;
  width: 500px;
  margin-right: 2rem;
}
.search__bar input {
  padding: 0.2rem 0.5rem;
  border: none;
  outline: none;
  background-color: var(--background-color);
  width: 80%;
}

.search__btn {
  background: none;
  border: none;
  font-size: 1.3rem;
  display: flex;
  text-align: center;
  margin-left: 0.5rem;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 2rem;
  row-gap: 4rem;
}

@media (max-width: 1024px) {
  .products__list {
    grid-template-columns: repeat(2, auto);
    column-gap: 1rem;
    row-gap: 4rem;
  }
  .search__bar {
    width: 300px;
    margin-right: 1rem;
  }
}

@media (max-width: 768px) {
  #hide-sidebar {
    display: none;
  }

  #show-sidebar {
    display: flex;
  }

  .products__section {
    grid-template-columns: auto;
  }

  .products__body {
    width: 100%;
  }

  .products__heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .products__heading-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
    margin-right: 1rem;
    align-items: center;
  }

  .search__bar {
    width: 100%;
  }

  .products__list {
    grid-template-columns: repeat(2, 1fr);
    gap: auto;
    margin-left: 2rem;
  }

  .modal_wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(189, 189, 189, 0.9);
  }

  .modal_container {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    width: 80%;
  }

  .modal_close-btn {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    background: none;
    border: none;
    font-size: 1.2rem;
    transform: translateY(10px);
  }
}

@media (max-width: 425px) {
  .products__list {
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
